

<%- include('partials/gradient') %>

<main class="form-signin w-100  mt-5 mx-auto  .gradient-custom">
    <div class="mt-auto mx-auto container">
    <form method="POST" action="/already-regis">
      
     
    
     
       Reg.No <input type="number" class="form-control top" id="floatingInput" placeholder="Registration No." name="reg" required autofocus>
      
        Seat No<input type="number" class="form-control middle" id="floatingPassword" placeholder="Seat No." name="seat" required>
       
      
         <button class="btn btn-success w-100 py-2" type="submit">Verify</button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; Edugainer's 2023</p>
    </form></div>
  </main>
  
    
    <!-- <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
 

<%- include('partials/footer') %>
