<%- include('partials/classes-gradient') %>




<div class=content>
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1 class="h1-appreciate">Thank you !</h1>
        <p>We appreciate that you have shown trust in our institute </p>
        <p>We will contact you soon </p>
        <a href="/intro"><button class="go-home">
        go home
        </button></a>
      </div>
      <div class="footer-like">
        <p>Wanna Contact Us
         <a href="/contact">Contact Us</a>
        </p>
      </div>
  </div>
  </div>
  
  
  
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
  
  <%- include('partials/footer') %>