

<%- include('partials/classes-gradient') %>

<main> 
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-4">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-info">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Key Features</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">All Batches<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Free <b><mark>4 hours Library Access</mark></b> to enrolled students on public holidays=>
                <ul type="circle"><li>
                  <u> <mark>4 PM to 8 PM</mark></u> 
                </li>
            <li>
               <mark> <u>12 PM to 4 PM</u></mark>
            </li></ul>
             
          
              
            </ul>
          </div>
        </div>
      </div>

    
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-warning">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Class-10th </h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">CBSE<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>PCM</li>
              <li>4:30 to 5:30 PM</li>
              <li>Complete tutoring</li>
              <li></li>
            </ul>
            <hr>
           
          <a href="/class-fee">  <button type="button" class="w-100 btn btn-lg btn-primary"> <li>Faculty: Amit Sir</li></button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-light">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Class-10th</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">ICSE<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>PCM</li>
              
              <li>5:30 to 6:30 pm</li>
              <li>Full support</li>
              
            </ul><hr>
            <a href="/class-fee"> <button type="button" class="w-100 btn btn-lg btn-primary"><li>Aman Dev Sir</li></button></a>
          </div>
        </div>
      </div></div></main>
     
      <main> 
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-4">
        <div class="col">
      
        <div class="card mb-4 rounded-3 shadow-sm bg-secondary">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Class-11th</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>ECONOMICS</li>
              
              <li>5:30 to 6:30 pm</li>
              <li>Full support</li>
              
            </ul><hr>
            <a href="/class-fee"> <button type="button" class="w-100 btn btn-lg btn-primary"><li>Akansha Mam</li></button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-danger">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Class-11th</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">All Boards<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Physics</li>
              
              <li>6 to 7 pm</li>
              <li>Full support</li>
              
            </ul><hr>
            <a href="/class-fee">  <button type="button" class="w-100 btn btn-lg btn-primary"><li>ATP Sir</li></button></a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-info">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Class-12th</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">All Boards<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Physics</li>
              
              <li>5 to 6 pm</li>
              <li>Full support</li>
              
            </ul><hr>
            <a href="/class-fee">  <button type="button" class="w-100 btn btn-lg btn-primary"><li>ATP Sir</li></button></a>
          </div>
        </div>
      </div>
      
      
    </div>
  </main>
  
  

<%- include('partials/footer') %>
