

<%- include('partials/classes-gradient') %>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <div class="overflow-hidden">
        <div class="container px-5">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="css/image1.jpg" class="lib-image" alt="...">
              </div>
              <div class="carousel-item">
                <img src="css/image2.jpg" class="lib-image" alt="...">
              </div>
              <div class="carousel-item">
                <img src="css/image3.jpg" class="lib-image" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 bg-">
      <h1 class="display-5 fw-bold heading lh-1 mb-3 ">EduGainer's Classes</h1>
      <p class="lead">Welcome to Edugainer's Classes .We are the Best coaching Centre in Uttarkashi with very talented faculty . Our Student have reached several milestones and are continuing their journey of doing good for the society</p>
      <p class="lead">We don't think that education should be limited to only those who can afford it but should be universal and that is our main goal!!</p> <div class="d-grid gap-2 d-md-flex justify-content-md-start">
       
      </div>
      <a href="/Batches" target="blank"><button  type="button" class="btn btn-danger mx-4">Batches</button></a>
    </div>
  </div>
  

<%- include('partials/footer') %>
